/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ----- Variables ----- */
:root {
  /* Colores */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  /* Tipografia */
  --font-family: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-size-paragraph: 15px;
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
  min-height: 100vh;
  padding: 4rem 10rem;
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  color: var(--dark-grayish-blue);
  background-color: var(--off-white);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--soft-orange) 0%, var(--soft-red) 100%);
}

/* ----- Header ----- */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  height: 8%;
}

.header__container .header__nav .header__nav_list {
  display: flex;
  gap: 2.6rem;
  list-style: none;
}

.header__container .header__nav .header__nav_list .header__nav_item .header__nav_link {
  text-decoration: none;
  font-size: 16px;
  color: var(--dark-grayish-blue);
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__container .header__nav .header__nav_list .header__nav_item .header__nav_link:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.header__container .menu__hamburguer {
  display: none;
}

/* ----- Main ----- */
.main__container {
  display: grid;
  grid-template-columns: 1fr 32%;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.main__container .main__introduction {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  height: 32.5rem;
}

.main__container .main__introduction .main__introduction__image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.main__container .main__introduction .main__introduction__image img {
  width: 100%;
  height: 100%;
}

.main__container .main__introduction .main__introduction__title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  padding-right: 20px;
  font-size: 3.4rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--very-dark-blue);
}

.main__container .main__introduction .main__introduction__description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-right: 10px;
  line-height: 1.7;
  color: var(--dark-grayish-blue);
}

.main__container .main__introduction .main__introduction__description .btn {
  width: fit-content;
  padding: 1rem 2rem;
  letter-spacing: 5px;
  font-weight: var(--font-weight-bold);
  color: var(--off-white);
  border: none;
  background-color: var(--soft-red);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main__container .main__introduction .main__introduction__description .btn:hover {
  background-color: var(--very-dark-blue);
}

/* ----- Article ----- */
.main__container .article__news_container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 32.5rem;
  padding-inline: 25px;
  background-color: var(--very-dark-blue);
}

.main__container .article__news_container .article__news_title {
  margin-bottom: 10px;
  font-size: 40px;
  color: var(--soft-orange);
}

.main__container .article__news_container .article__news_item {
  padding-top: 5px;
  padding-bottom: 10px;
}

.main__container .article__news_container .article__news_item:first-of-type {
  padding-top: 0;
}

.main__container .article__news_container .article__news_item .news_item__title {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--off-white);
  transition: color 0.3s ease;
}

.main__container .article__news_container .article__news_item .news_item__title:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

.main__container .article__news_container .article__news_item .news_item__content {
  padding-right: 10px;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.main__container .article__news_container .article__hr {
  border: solid var(--dark-grayish-blue);
  border-width: 1px 0 0 0;
}

/* ----- Articles container ----- */
.main__container .articles__container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 50px;
}

.main__container .articles__container .article__item {
  display: flex;
  gap: 18px;
  height: 130px;
}

.main__container .articles__container .article__item:nth-child(3) {
  padding-left: 5px;
}

.main__container .articles__container .article__item .article__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__container .articles__container .article__item .article__item__info .article__item_number {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--grayish-blue);
}

.main__container .articles__container .article__item .article__item__info .article__item_title {
  margin-bottom: 0;
  font-weight: var(--font-weight-bold);
  color: var(--very-dark-blue);
  transition: color 0.3s ease;
}

.main__container .articles__container .article__item .article__item__info .article__item_title:hover {
  color: var(--soft-red);
  cursor: pointer;
}

.main__container .articles__container .article__item .article__item__info .article__item_content {
  line-height: 1.5;
  padding-right: 15px;
}

@media (width < 769px) {
  body {
    padding: 2rem 1.5rem;
  }

  .header__container .menu__hamburguer {
    display: block;
  }

  .header__container .menu__hamburguer .menu__hamburguer__open,
  .header__container .menu__hamburguer .menu__hamburguer__close {
    display: none;
  }

  .header__container .menu__hamburguer .menu__hamburguer__open.active {
    display: block;
  }

  .header__container .menu__hamburguer .menu__hamburguer__close.active {
    position: relative;
    display: block;
    z-index: 5;
  }

  .header__container .header__logo_container {
    height: 30px;
  }

  .header__container .header__logo_container img {
    width: 100%;
    height: 100%;
  }

  .header__container .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -3;
    transition: opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    overflow: hidden;
  }

  .header__container .header__nav.active {
    opacity: 1;
    z-index: 3;
  }

  .header__container .header__nav .header__nav_list {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 0;
    padding-top: 10rem;
    padding-left: 25px;
    background-color: var(--off-white);
  }

  .header__container .header__nav .header__nav_list .header__nav_item .header__nav_link {
    font-size: 20px;
    color: var(--very-dark-blue);
  }

  /* ----- Main ----- */
  .main__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .main__container .main__introduction {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .main__container .main__introduction .main__introduction__image {
    height: 350px;
  }

  .main__container .main__introduction .main__introduction__image img {
    content: url('../images/image-web-3-mobile.jpg');
  }

  .main__container .main__introduction .main__introduction__title {
    font-size: 2.8rem;
  }

  .main__container .main__introduction .main__introduction__description {
    gap: 30px;
    padding-right: 0;
    font-size: 16.5px;
  }

  .main__container .main__introduction .main__introduction__description .btn {
    padding: 1.2rem 1.8rem;
  }

  /* ----- Article ----- */
  .main__container .article__news_container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-inline: 25px;
  }

  .main__container .article__news_container .article__news_title {
    font-size: 2rem;
  }

  .main__container .article__news_container .article__news_item .news_item__title {
    font-size: 21px;
  }

  .main__container .article__news_container .article__news_item .news_item__content {
    font-size: 16px;
    padding-right: 0;
  }

  .main__container .article__news_container .article__hr {
    width: 100%;
  }

  /* ----- Articles container ----- */
  .main__container .articles__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 0;
  }

  .main__container .articles__container .article__item {
    display: flex;
    gap: 25px;
    height: auto;
  }

  .main__container .articles__container .article__item img {
    height: 150px;
  }

  .main__container .articles__container .article__item .article__item__info .article__item_number {
    font-size: 2rem;
  }

  .main__container .articles__container .article__item .article__item__info .article__item_title {
    font-size: 18px;
  }

  .main__container .articles__container .article__item:nth-child(3) {
    padding-left: 0;
  }
}

@media (width < 376px) {

  /* ----- Main ----- */
  body {
    padding: 2rem 1.2rem;
  }

  .main__container {
    gap: 4rem;
  }

  .main__container .main__introduction .main__introduction__image {
    height: 300px;
  }

  .main__container .main__introduction .main__introduction__title {
    font-size: 2.5rem;
  }

  .main__container .main__introduction .main__introduction__description {
    gap: 20px;
    font-size: var(--font-size-paragraph);
  }

  /* ----- Article ----- */
  .main__container .article__news_container {
    padding-inline: 20px;
  }

  .main__container .article__news_container .article__news_item .news_item__title {
    font-size: 20px;
  }

  .main__container .article__news_container .article__news_item .news_item__content {
    font-size: var(--font-size-paragraph);
  }

  /* ----- Articles container ----- */
  .main__container .articles__container {
    gap: 2rem;
    margin-top: 1rem;
  }

  .main__container .articles__container .article__item img {
    height: 120px;
  }

  .main__container .articles__container .article__item .article__item__info .article__item_number {
    font-size: 1.5rem;
  }
  .main__container .articles__container .article__item .article__item__info .article__item_title {
    font-size: 17px;
  }
  .main__container .articles__container .article__item .article__item__info .article__item_content {
    font-size: 14px;
  }
}